body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f18a18;
  margin: 0;
  padding: 0;
}
textarea:focus,
input:focus,
button:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}
.dnone{
  display: none;
}
.man {
  width: 55px;
  height: 55px;
  cursor: pointer;
 /* border: 1px solid #02abfd;*/
  overflow: hidden;
}
/*Mudei aqui - Gabriel */
.iconify{
  filter: opacity(40%);
}
.iconify.border{
  filter: opacity(100%);
}


::-webkit-input-placeholder {
  color: #bfbfbf;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #bfbfbf;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #bfbfbf;
}

:-ms-input-placeholder {
  color: #bfbfbf;
}

.container {
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  display: flex;
  margin-top: 10vh;
}

.bg-button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  border: 1px solid #f2f2f2;
}

.btn1 {
  text-align: center;
  font-size: 1.2em;
  color: #f18a18;
  width: 300px;
  height: 50px;
  background: #ffffff;
  border: 0.5px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 7px;
  transition: 0.1s;
}


.btn1:hover {
  transition: 0.1s;
  box-shadow: 0px 1px 4px 2px rgba(188, 188, 188, 0.54);
  border-radius: 7px;
}
.btn2 {
  cursor: pointer;
  margin-top: -80px;
  margin-left: 220px;
  font-weight: 500;
  color: white;
  width: 80px;
  height: 25px;
  background: #f18a18;
  border: 0.5px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 5px;
}

.btn3 {
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  color: #6b6b6b;
  width: 90px;
  height: 30px;
  background: linear-gradient(
    90deg,
    #ffffff 0%,
    #ffffff 10.22%,
    #ffffff 14.98%
  );
  border: 0.5px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 7px;
  transition: 0.1s;
}
.resultado1{
  width: 80px;
  background-color: #e1e1e1;
  padding: 0;
  border: none;
  color: #f18a18;
  font-size: 1.5em;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

.form {
  display: flex;
}

.alterar2{
  margin-left: -27px;
}

.text-align {
  text-align: center;
}

/*TABELAIMC*/
.tabelaImc{
  position: relative;
  display: flex;
  justify-content: center;
height: 50px;
margin-top: 30px;
  background-color: #e1e1e1;
  width: 300px;
}

.myinputp{
  text-align: center;
  border: none;
  width: 40px;
  color: #f18a18;
  font-style: bold;
}

.bg-header{

 width: 100%;

 background-color: #3f3f3f;
}

.container-header{
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

a, a.active{
  text-decoration: none;
  color: white;
}

.header-text{
  color: white;
  font-size: 0.9em;
}
